# flyctl launch added from .gitignore

**/db/__pycache__

**/__pycache__

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
# Zeppelin ignored files
.idea/ZeppelinRemoteNotebooks

# flyctl launch added from .pytest_cache/.gitignore
# Created by pytest automatically.
.pytest_cache/**/*

# flyctl launch added from .virtualenv/.gitignore
# created by virtualenv automatically
.virtualenv/**/*

# flyctl launch added from tests/.pytest_cache/.gitignore
# Created by pytest automatically.
tests/.pytest_cache/**/*

# flyctl launch added from tests/db/.pytest_cache/.gitignore
# Created by pytest automatically.
tests/db/.pytest_cache/**/*
fly.toml
