<!DOCTYPE html>
<html lang="en">
<head>
    <title>COAR Notify Inbox</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body class="p-6">

    <div class="flex space-x-4 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" height="36px" width="36px">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
        </svg>
        <div class="text-3xl font-semibold mb-4">COAR Notify Inbox</div>
    </div>
    <h3 class="text-xl font-semibold text-gray-400 mb-4">Notifications</h3>
    <div class="space-y-4">
        {% for notification in notifications %}
            <details class="border border-gray-200 rounded-lg p-4">
                <summary class="cursor-pointer text-xl font-bold text-blue-600 outline-none">
                    {{notification.updated.strftime('%Y-%m-%d %H:%M:%S')}} - {{notification.type}}
                </summary>
                <div class="flex space-x-4 mt-2">
                    <div class="w-1/2 p-4 rounded-lg divide-y divide-gray-200">
                        <p class="py-2"><span class="font-semibold">ID:</span> {{notification.id}}</p>
                        <p class="py-2"><span class="font-semibold">Updated:</span> {{notification.updated}}</p>
                        <p class="py-2"><span class="font-semibold">Context:</span> {{notification['@context']}}</p>
                        <p class="py-2"><span class="font-semibold">Type:</span> {{notification.type}}</p>
                        <div class="py-2">
                            <h3 class="text-lg font-semibold">Context</h3>
                            <p><span class="font-semibold">ID:</span> {{notification.context.id}}</p>
                            <p><span class="font-semibold">Type:</span> {{notification.context.type}}</p>
                            <p><span class="font-semibold">IETF Cite As:</span> {{notification.context['ietf:cite-as']}}</p>
                        </div>
                        <div class="py-2">
                            <h3 class="text-lg font-semibold">Actor</h3>
                            <p><span class="font-semibold">ID:</span> {{notification.actor.id}}</p>
                            <p><span class="font-semibold">Type:</span> {{notification.actor.type}}</p>
                            <p><span class="font-semibold">Name:</span> {{notification.actor.name}}</p>
                        </div>
                        <div class="py-2">
                            <h3 class="text-lg font-semibold">Origin</h3>
                            <p><span class="font-semibold">ID:</span> {{notification.origin.id}}</p>
                            <p><span class="font-semibold">Type:</span> {{notification.origin.type}}</p>
                            <p><span class="font-semibold">Inbox:</span> {{notification.origin.inbox}}</p>
                        </div>
                        <div class="py-2">
                            <h3 class="text-lg font-semibold">Target</h3>
                            <p><span class="font-semibold">ID:</span> {{notification.target.id}}</p>
                            <p><span class="font-semibold">Type:</span> {{notification.target.type}}</p>
                            <p><span class="font-semibold">Inbox:</span> {{notification.target.inbox}}</p>
                        </div>
                        <div class="py-2">
                            <h3 class="text-lg font-semibold">Object</h3>
                            <p><span class="font-semibold">ID:</span> {{notification.object.id}}</p>
                            <p><span class="font-semibold">Type:</span> {{notification.object.type}}</p>
                            <p><span class="font-semibold">IETF Cite As:</span> {{notification.object['ietf:cite-as']}}</p>
                        </div>
                    </div>

                    <div class="w-1/2 bg-gray-100 p-4 rounded-lg overflow-scroll text-xs">
                        <pre><code>{{ notification | tojson_pretty }}</code></pre>
                    </div>
                </div>
            </details>
        {% endfor %}
    </div>

    {% include 'pagination.html' %}
</body>
</html>
